<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MBCircularProgressBarSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE45BA6E1DF24A4D005EAFC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE45BA821DF24A4D005EAFC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE45BA8D1DF24A4D005EAFC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
